@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden !important;
  color: white;
  background-color: #110f30;
  overflow-x: hidden !important;
}

.btn10 {
  padding: 10px 20px;
  margin: 10px 4px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  position: relative;
  text-decoration: none;
  display: inline-block;
}

/* Btn 10  */
.btn10 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  cursor: hand;
  text-align: center;
  border-radius: 50px;
  position: relative;
  overflow: hidden !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #561b8d !important;
  z-index: 10;
}

.btn10:hover {
  color: white !important;
}

.btn10::before {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: #561b8d;
  position: absolute;
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}

.btn10::after {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: aqua;
  position: absolute;
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  -webkit-transition: all 0.94s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -webkit-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -webkit-box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}

.btn10:hover::before,
.btn1O:hover::before {
  opacity: 1;
  width: 116%;
}

.btn10:hover::after,
.btn1O:hover::after {
  opacity: 1;
  width: 120%;
}

.nav-item {
  margin: 10px;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: aqua !important;
}

@media (max-width: 1200px) {
  .navbar {
    background-color: rgba(8, 8, 8, 0.2);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
  }
}

.hero-container {
  display: block;
  height: auto;
  padding: 150px 10px;
}

.hero-container .title {
  font-weight: 800;
  font-size: 54px;
}

.hero-container .sub-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
}

.hero-container .para {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0.2px;
  padding-top: 10px;
  max-width: 550px;
}

.hero-container .btn10 {
  width: 330px !important;
}

.hero-container .hero-links .hero-link {
  color: white;
}

.hero-container .hero-links .hero-link:hover {
  color: aqua;
}

.hero-container .hero-links .hero-link i {
  margin: 10px;
}

.hero {
  background-image: url("../img/bg.png") !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  display: block;
  height: auto;
}

.data-box {
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: relative;
  width: 100vw;
  top: 0px;
}

.data-box .data {
  color: white;
  font-weight: 500;
  border-left: 5px solid #24dddc;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  margin: 10px;
  padding-left: 20px;
  text-overflow: none;
}

.data-box .data span {
  font-size: 16px;
}

@media (max-width: 350px) {
  .hero-link {
    display: block;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .hero-container .btn10 {
    max-width: 100%;
  }
}

.sticky {
  background-color: rgba(8, 8, 8, 0.2);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.about-chart {
  background: radial-gradient(58.98% 58.98% at 50% 33.83%, #36136a 0%, #141137 74.57%, #0c092e 100%);
}

.about-chart .about-box {
  background-image: url("../img/about-bg.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.about-chart .about {
  max-width: 900px;
  margin: auto;
  padding: 30px;
  padding-top: 300px;
}

.about-chart .about .about-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-chart .about .about-title .title-para {
  text-align: left;
  padding: 10px;
  font-family: "Roboto", sans-serif;
}

.about-chart .about .about-title .title-para-1 {
  position: relative;
  top: -60px;
  color: #af85d6;
}

.about-chart .about .about-title .title-para-2 {
  position: relative;
  top: 140px;
  color: #af85d6;
}

.about-chart .about .title {
  font-weight: 800;
  font-size: 54px;
}

.about-chart .about .about-para {
  font-family: "Roboto", sans-serif;
  text-align: justify;
  padding-top: 120px;
  padding-bottom: 30px;
  max-width: 750px;
  margin: auto;
}

.about-chart .about .about-btn {
  text-align: center;
}

.about-chart .btn10 {
  width: 280px;
}

@media (max-width: 750px) {
  .about-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about-title .title-para {
    text-align: center;
    padding: 0px;
  }
  .title-para-1 {
    position: relative;
    top: 0px !important;
    color: #af85d6;
  }
  .title-para-2 {
    position: relative;
    top: 0px !important;
    color: #af85d6;
  }
  .about-para {
    padding-top: 20px !important;
  }
}

.chart {
  background-image: url("../img/about-bg2.png");
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
}

.chart-container .title {
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: transparent;
  text-shadow: 0 0 2px white;
}

.chart-container .title svg {
  font: 800 48px "Open Sans", sans-serif;
  width: 100%;
  height: 50px;
  margin: auto;
}

.chart-container .title text {
  fill: none;
  stroke: white;
  stroke-width: 1px;
  stroke-linejoin: round;
  text-align: center;
  width: 100%;
}

.chart-container .sub-title {
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.chart-container .donutchart {
  margin: auto;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90px 90px;
}

.color-1 {
  width: 40px !important;
  height: 15px !important;
  background-color: #5874cf !important;
  padding: 0 !important;
  display: inline-block;
  border-radius: 50px;
  margin-right: 10px;
}

.color-2 {
  width: 40px !important;
  height: 15px !important;
  background-color: #8761a8 !important;
  padding: 0 !important;
  display: inline-block;
  border-radius: 50px;
  margin-right: 10px;
}

.color-3 {
  width: 40px !important;
  height: 15px !important;
  background-color: #16bf86 !important;
  padding: 0 !important;
  display: inline-block;
  border-radius: 50px;
  margin-right: 10px;
}

.stats {
  background-color: black;
  background: linear-gradient(0.18deg, #141137 -1.54%, #000000 124.48%);
  padding: 20px;
  font-family: "Montserrat", sans-serif;
}

.stats .sub-title {
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
  margin: 20px;
  margin-bottom: 40px;
}

.stats .stat {
  border: 2px solid #890aff;
  padding: 10px;
  margin: 20px;
}

.stats .stat .stat-data {
  font-size: 24px;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
}

.cont {
  max-width: 800px !important;
  margin: auto;
  padding: 20px;
}

.timeline {
  position: relative;
  padding-left: 4rem;
  margin: 0 0 0 30px;
  color: white;
  font-family: "Roboto", sans-serif !important;
}

.timeline:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  border: none;
  border-left: 4px dashed #890aff;
}

.timeline .timeline-container {
  position: relative;
  margin-bottom: 2.5rem;
}

.timeline .timeline-container .timeline-icon {
  position: absolute;
  left: -88px;
  top: 4px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 2rem;
  background: #4f537b;
}

.timeline .timeline-container .timeline-icon img,
.timeline .timeline-container .timeline-icon i {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 24px;
  color: white;
}

.timeline .timeline-container .timeline-icon img {
  width: 60%;
  height: 60%;
}

.timeline .timeline-container .timeline-body {
  background: rgba(0, 0, 0, 0.02);
  border-radius: 3px;
  padding: 10px 20px 15px;
  -webkit-box-shadow: 1px 3px 9px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 3px 9px rgba(0, 0, 0, 0.1);
}

.timeline .timeline-container .timeline-body:before {
  content: "";
  background: inherit;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  left: -10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 0 0 0 2px;
}

.timeline .timeline-container .timeline-body .timeline-title {
  margin-bottom: 1.4rem;
}

.timeline .timeline-container .timeline-body .timeline-title .badge {
  background: #4f537b;
  padding: 4px 8px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
}

.timeline .timeline-container .timeline-body .timeline-subtitle {
  font-weight: 300;
  font-style: italic;
  opacity: 0.4;
  margin-top: 16px;
  font-size: 11px;
}

.timeline .timeline-container.primary .badge,
.timeline .timeline-container.primary .timeline-icon {
  background: #1d8cf8 !important;
}

.timeline .timeline-container.info .badge,
.timeline .timeline-container.info .timeline-icon {
  background: #11cdef !important;
}

.timeline .timeline-container.success .badge,
.timeline .timeline-container.success .timeline-icon {
  background: #00bf9a !important;
}

.timeline .timeline-container.warning .badge,
.timeline .timeline-container.warning .timeline-icon {
  background: #ff8d72 !important;
}

.timeline .timeline-container.danger .badge,
.timeline .timeline-container.danger .timeline-icon {
  background: #fd5d93 !important;
}

@media (max-width: 600px) {
  .timeline {
    padding-left: 4rem;
  }
  .timeline-icon {
    width: 40px !important;
    height: 40px !important;
    left: -81px !important;
  }
  .timeline-body {
    padding: 10px   0px 15px !important;
  }
}

.purple {
  color: #890aff;
  font-weight: 600;
}

.blog {
  color: white !important;
}

.faq {
  background-image: url("../img/faq-bg.png");
  background-position: center;
  background-size: cover;
}

.faq .title {
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
  margin: 20px;
  margin-bottom: 40px;
}

.faq .container {
  max-width: 950px;
}

.faq .accordion {
  background: rgba(86, 27, 141, 0.2);
  border: 1px solid rgba(137, 10, 255, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
  margin: 20px;
  border-radius: 10px;
}

.faq .accordion-item {
  background-color: transparent !important;
}

.faq .accordion-button {
  background-color: transparent !important;
  color: white;
}

.faq .accordion-button:not(.collapsed) {
  color: #890aff;
}

footer .btn, .team .btn {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

footer .btn-floating:hover, .team .btn-floating:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.team .name {
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
}

.team img {
  width: 50%;
}

.team .title {
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: transparent;
  text-shadow: 0 0 2px white;
}

.team .title svg {
  font: 800 48px "Open Sans", sans-serif;
  width: 100%;
  height: 50px;
  margin: auto;
}

.team .title text {
  fill: none;
  stroke: white;
  stroke-width: 1px;
  stroke-linejoin: round;
  text-align: center;
  width: 100%;
}

.team .sub-title {
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.team .pos svg {
  font: 800 36px "Open Sans", sans-serif;
  width: 100%;
  height: 40px;
}

.team .pos text {
  text-shadow: 0 0 5px black;
  stroke: #890AFF;
  stroke-width: 2px;
  stroke-linejoin: round;
  width: 100%;
}

@media (max-width: 1200px) {
  .team {
    text-align: center !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .team img {
    width: 35%;
  }
}

@media (max-width: 750px) {
  .team {
    text-align: center !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .team img {
    width: 100%;
  }
}

.gradient {
  background: radial-gradient(58.98% 58.98% at 50% 33.83%, #36136A 0%, #141137 74.57%, #0C092E 100%);
}

.list-group-item {
  background-color: transparent !important;
  color: white;
}

.filled-in {
  background: #3adb15  !important;
  border-color: #3adb15 !important;
}

.filled-out {
  background: white  !important;
  border-color: white !important;
  border: none !important;
}

.list-group-item {
  border: none !important;
}
/*# sourceMappingURL=index.css.map */